<div
  class="flex flex-col gap-2 rounded-lg w-full"
  [ngClass]="{ 'p-4': !isContent, 'p-0': isContent, border: !isContent }"
>
  <!-- Upload input -->
  @if (isContent) {
    <ng-content></ng-content>
  } @else {
    @if (!selectedFiles.length) {
      <label
        (click)="focusFileInput()"
        class="flex items-center gap-4 cursor-pointer w-full"
      >
        <div
          class="flex items-center justify-center w-10 h-10 bg-gray-200 rounded-full"
        >
          <!-- <mat-icon>upload</mat-icon> -->
        </div>
        <div class="flex flex-col text-left">
          <span class="text-gray-700">Choose file(s)</span>
          <span class="text-sm text-gray-500">
            Allowed types:
            {{ FILE_ALLOWED_MIMES[acceptType].join(", ") || "image/*" }}
          </span>
        </div>
      </label>
    }
  }
  <input
    #fileInput
    type="file"
    class="hidden"
    [multiple]="multiple"
    [accept]="FILE_ALLOWED_MIMES[acceptType].join(',') || 'image/*'"
    (change)="onFileChange($event)"
  />

  @if (!isContent) {
    <!-- File preview -->
    @for (fileItem of selectedFiles; track $index) {
      <div class="flex items-center gap-4">
        @switch (acceptType) {
          @case ("image") {
            <img
              *ngIf="getFilePreview(fileItem)"
              [src]="getFilePreview(fileItem)"
              class="w-16 h-16 object-cover rounded"
            />
          }
          @case ("video") {
            <video
              *ngIf="getFilePreview(fileItem)"
              [src]="getFilePreview(fileItem)"
              class="w-32 h-20"
              controls
            ></video>
          }
          @case ("pdf") {
            <a
              *ngIf="getFilePreview(fileItem)"
              [href]="getFilePreview(fileItem)"
              target="_blank"
              class="text-blue-600 underline"
            >
              {{ fileItem.uploadData.file_orginal_name || "No name" }}
            </a>
          }
          @case ("word") {
            <a
              *ngIf="getFilePreview(fileItem)"
              [href]="getFilePreview(fileItem)"
              download
              class="text-blue-600 underline"
            >
              {{ fileItem.uploadData.file_orginal_name || "No name" }}
            </a>
          }
          @default {
            <span>{{
              fileItem.uploadData.file_orginal_name || "No name"
            }}</span>
          }
        }

        <span class="text-sm text-gray-500">
          {{ fileItem.uploadData.file_orginal_name || "No name" }}
          @if (fileItem.file.size) {
            {{
              fileItem.file.size >= 1024 * 1024
                ? (fileItem.file.size / 1024 / 1024).toFixed(2) + " MB"
                : (fileItem.file.size / 1024).toFixed(2) + " KB"
            }}
          }
        </span>
        <button
          class="ml-auto text-red-600"
          type="button"
          (click)="removeFile(fileItem)"
        >
          Delete
        </button>
      </div>
    }
  }

  @if (!isContent) {
    <!-- Upload / focus button -->
    @if (multiple || !selectedFiles.length) {
      <div class="flex justify-center mt-2">
        <button
          type="button"
          (click)="focusFileInput()"
          class="px-4 py-2 bg-[#BF9E78] text-white rounded"
        >
          Upload
        </button>
      </div>
    }
  }
</div>
